In [34]:
def bfs(graph,start):
  visited=[]
  queue = []
  queue = [start]
  while queue:
    node = queue.pop(0)
    if node not in visited:
      visited.append(node)
      neighbours = graph[node]
      for neighbour in neighbours:
        queue.append(neighbour)
  return visited

In [35]:
graph = {'Amin' : ['Wasim', 'Nick', 'Mike'],
         'Wasim' : ['Imran', 'Amin'],
         'Imran' : ['Wasim', 'Faras'],
         'Faras' : ['Imran'],
         'Mike' : ['Amin'],
         'Nick' : ['Amin']
         }

In [36]:
# 0 Amin -----------
#     |       |       |
# 0 Wasim  0 Nick  0 Mike
# |
# 0 Imran
# |
# 0 Faras

bfs(graph,'Amin')

['Amin', 'Wasim', 'Nick', 'Mike', 'Imran', 'Faras']

In [37]:
# 0 Amin -----------
#     |       |       |
# 0 Wasim  0 Nick  0 Mike
# |
# 0 Imran
# |
# 0 Faras

bfs(graph,'Wasim')

['Wasim', 'Imran', 'Amin', 'Faras', 'Nick', 'Mike']

In [38]:
# 0 Amin -----------
#     |       |       |
# 0 Wasim  0 Nick  0 Mike
# |
# 0 Imran
# |
# 0 Faras

bfs(graph,'Mike')

['Mike', 'Amin', 'Wasim', 'Nick', 'Imran', 'Faras']

In [39]:

graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

In [40]:
bfs(graph,'Rektor')

['Rektor',
 'Warek1',
 'Warek2',
 'Kaprodi2',
 'Kaprodi3',
 'Kaprodi1',
 'Dosen E',
 'Dosen D',
 'Dosen F',
 'Dosen G',
 'Dosen A',
 'Dosen B',
 'Dosen C']

In [41]:
# DEPTH-FIRST SEARCH
def dfs(visited, graph, node):
  if node not in visited:
    print(node)
    visited.add(node)
    for neighbour in graph[node]:
      dfs(visited, graph, neighbour)

In [42]:
def dfs(graph, start, visited=None):
  if visited is None:
    visited = set()
  visited.add(start)
  print(start)
  for next in graph[start] - visited:
    dfs(graph, next, visited)
  return visited

In [43]:
graph={'Amin' : ['Wasim', 'Nick', 'Mike'],
       'Wasim' : ['Imran', 'Amin'],
       'Imran' : ['Wasim','Faras'],
       'Faras' : ['Imran'],
       'Mike' : ['Amin'],
       'Nick' : ['Amin']}

In [52]:
graph3 = {'0' : ['9', '7', '11'],
          '1' : ['10', '8'],
          '2' : ['12', '3'],
          '3' : ['2', '4', '7'],
          '4' : ['3'],
          '5' : ['6'],
          '6' : ['5', '7'],
          '7' : ['3', '6', '11', '0'],
          '8' : ['9', '1', '12'],
          '9' : ['10', '8', '0'],
          '10' : ['1', '9'],
          '11' : ['0', '7'],
          '12' : ['8', '2']
          }

In [53]:
bfs(graph3, '0')

['0', '9', '7', '11', '10', '8', '3', '6', '1', '12', '2', '4', '5']

In [57]:
graph={'Rektor' : {'Warek1', 'Warek2'},
       'Warek1' : {'Rektor'},
       'Warek2' : {'Rektor','Kaprodi1', 'Kaprodi2','Kaprodi3'},
       'Kaprodi1' : {'Warek2','Dosen A','Dosen B','Dosen C'},
       'Dosen A' : {'Kaprodi1'},
       'Dosen B' : {'Kaprodi1'},
       'Dosen C' : {'Kaprodi1'},
       'Kaprodi2' : {'Warek2','Dosen D','Dosen E'},
       'Dosen D' : {'Kaprodi2'},
       'Dosen E' : {'Kaprodi2'},
       'Kaprodi3' : {'Warek2','Dosen F','Dosen G'},
       'Dosen F': {'Kaprodi3'},
       'Dosen G' : {'Kaprodi3'}}

dfs(graph, 'Rektor')

Rektor
Warek1
Warek2
Kaprodi2
Dosen D
Dosen E
Kaprodi3
Dosen F
Dosen G
Kaprodi1
Dosen A
Dosen C
Dosen B

{'Dosen A',
 'Dosen B',
 'Dosen C',
 'Dosen D',
 'Dosen E',
 'Dosen F',
 'Dosen G',
 'Kaprodi1',
 'Kaprodi2',
 'Kaprodi3',
 'Rektor',
 'Warek1',
 'Warek2'}